reference:
    
https://stackoverflow.com/questions/62391732/translating-multiple-columns-in-pandas-dataframe-to-english

In [134]:
import pandas as pd

reference:
    
https://stackoverflow.com/questions/61872385/problem-to-translate-with-textblob-in-python-textblob-exceptions

In [135]:
df = pd.read_csv('translation_to_eng.csv')

In [136]:
df = df.fillna(0)

In [137]:
df

   case_id                german            english          spanish
0     1234                     0  Hello How are you                0
1     2345                     0                  0  Hola como estas
2     3456  Hallo wie geht's dir                  0                0

In [138]:
df = df.drop('case_id', 1)

In [139]:
df

                 german            english          spanish
0                     0  Hello How are you                0
1                     0                  0  Hola como estas
2  Hallo wie geht's dir                  0                0

In [142]:
df['spanish']

0                  0
1    Hola como estas
2                  0
Name: spanish, dtype: object

In [143]:
from textblob import TextBlob

https://www.analyticsvidhya.com/blog/2018/02/natural-language-processing-for-beginners-using-textblob/
    
    
https://stackoverflow.com/questions/35420602/python-textblob-translation-api-error/35425227
        
        
https://thispointer.com/pandas-loop-or-iterate-over-all-or-certain-columns-of-a-dataframe/
            
https://www.pythonprogramming.in/language-detection-and-translation-using-textblob.html#:~:text=The%20TextBlob%20library%20uses%20Google,and%20Words%20into%20other%20languages.

In [144]:
for column in df:
    columnSeriesObj = df[column]
    blob = TextBlob(str(columnSeriesObj.values))
    #print(columnSeriesObj.values)
    if blob.detect_language() == 'es':
        translated = blob.translate(from_lang='es',to='en')
        print(translated)
    elif blob.detect_language() == 'de':
        translated = blob.translate(from_lang='de',to='en')
        print(translated)
    else:
        print("not translated")

[0 0 "Hello how are you"]
not translated
[0 'Hello how are you' 0]

In [145]:
df['german']

0                       0
1                       0
2    Hallo wie geht's dir
Name: german, dtype: object

In [151]:
mask = df['spanish'].notna()
df[mask,'spanish_to_en'] = df.loc[mask,'spanish'].str.encode('ascii', 'ignore').apply(lambda x:TextBlob(str(x)).translate(to='en'))

TypeError: 'Series' objects are mutable, thus they cannot be hashed